<h3 class="comments_title">
 <%= @idea.comments.count %> comments
</h3>
<div id="comments">
 <%= render :partial => @idea.comments %>
</div>
<%= simple_form_for [@idea, Comment.new] do |f| %>
 <div class="field">
  <%= f.text_area :body, class: "form-control" %>
 </div>
 <br>
 <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>